
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

::selection {
    background: $black;
    color: $white;
}
::-moz-selection {
    background: $black;
    color: $white;
}

a {
    @include transition(0.3s all);
    //    color: $green;
}

a:focus, a:hover {
    text-decoration: none !important;
    //    color: darken($green,20%);
}

*:focus {
    outline: 0;
}

@media screen {

    
    .btn {
        
        &:hover {

        }
    }
    

}