{% extends 'base.twig' %}
{% block template %}
    <div class="wrapper">

        <div class="placeholders">
            <div class="number-placeholder"></div>
            <div class="number-placeholder"></div>
            <div class="number-placeholder"></div>
            <div class="number-placeholder"></div>
        </div>

        <table class="keypad">

            <tr>
                <td><a href="#">1</a></td>
                <td><a href="#">2</a></td>
                <td><a href="#">3</a></td>
            </tr>

            <tr>
                <td><a href="#">4</a></td>
                <td><a href="#">5</a></td>
                <td><a href="#">6</a></td>

            </tr>

            <tr>
                <td><a href="#">7</a></td>
                <td><a href="#">8</a></td>
                <td><a href="#">9</a></td>
            </tr>


        </table>

        <div class="erase">
            <a href="#" id="clearPad">Clear</a>
            <a href="#" id="deletePad">Delete</a>
        </div>
    </div>
{% endblock %}