{% include 'poa/partials/header.twig' %}

{% if page.thumbnail %}
<div class="page-header-image" style="background:url( {{page.thumbnail.src}} ) no-repeat 50% 50%; background-size: cover;">
{% else %}
<div class="page-header-image" style="background:url( {{ site.theme.link }}/img/placeholder-slider.jpg) no-repeat 50% 50%; background-size: cover;">
{% endif %}

    <div class="page-header-title">
        <h1>Events &amp; Activities</h1>
    </div>
</div>
    
<div class="event-calendar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ event_calendar }}
            </div>
        </div>
    </div>   
</div>
    
{% include 'poa/partials/footer.twig' %}