{% extends 'base.twig' %}
{% block template %}


<h1>Front Page</h1>
<h2>Hello</h2>
<h3>Hello</h3>
<h4>Hello</h4>
<h5>Hello</h5>
<h6>Hello</h6>

<p>Messenger bag YOLO meh gentrify ethical. Viral cornhole Blue Bottle photo booth. Carles Odd Future 3 wolf moon, beard keffiyeh umami bicycle rights pug pickled mustache gentrify letterpress next level quinoa. Leggings paleo kale chips vegan, Tumblr four dollar toast fanny pack pork belly tofu letterpress. Flexitarian cred tofu wolf. Locavore cardigan selfies cronut, chambray lo-fi art party migas. McSweeney's cronut lumbersexual, Kickstarter Odd Future tofu health goth distillery.</p>

<ul>
    <li>Hey</li>
    <li>Hey</li>
    <li>Hey</li>
    <li>Hey</li>
</ul>

<ol>
    <li>Hey</li>
    <li>Hey</li>
    <li>Hey</li>
    <li>Hey</li>
</ol>
{% endblock %}