@media screen {



    .poa-site {
        font-family: $proxima;

    //Styles for Page Content

    h1, h2, h3, h4, h5, h6 {
        font-family: $baskerville;
        line-height: 1.5;
        font-weight: 400;
    }
    
    h1 {
        color: $dkr-grey;
        font-size: 30px; 
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 22px;
    }

    h6 {
        font-size: 20px;
    }

    p, ol, ul {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
        font-family: $proxima;

        @media (max-width: $screen-sm-max) {
            font-size: 18px;
        }
    }
    }

}

