@media screen {
    .poa-site {
        //Front Page Styles
        //--Main Slider
        .content-slider {

            .featured-slider {
                margin-bottom: 0;
            }

            .slick-dots {
                bottom: 10px;

                li.slick-active button:before, li button:before {
                    color: $white;
                    font-size: 16px;
                }
            }

            .slide {
                height: 70vh;
                position: relative;
            }

            .slider-caption {
                background: $white;
                position: absolute;
                bottom: 10vh;
                max-width: 50vw;
                padding: 20px 40px 40px 100px;

                @media(max-width: $screen-sm-max) {
                    padding: 15px;
                }

                h2.headline {
                    font-family: $minion;
                    color: $dkr-grey;
                    font-size: 40px; 
                    font-weight: 400;
                    text-align: left;
                    line-height: 1;
                    margin-bottom: 20px;

                    @media (max-width: $screen-sm-max) {
                        margin: 0;
                        font-size: 28px;
                    }
                }

                p.description {
                    font-family: $proxima;
                    color: $dk-grey;
                    font-size: 18px; 
                    font-weight: 400;
                    text-align: left;

                    @media(max-width: $screen-sm-max) {
                        display: none;
                    }
                }

                a.cta-link {
                    color: $grey;

                    &:hover {
                        color: darken($grey,20%);
                    }
                }
            }
        }

        //-Events
        .home-events {
            background: url(img/pattern-white-texture.jpg) repeat;
            padding-top: 40px;
            padding-bottom: 40px;

            h2.section-title {
                text-align: right;
                color: $cc-green;
                font-size: 30px;
                font-weight: 400;
                margin-right: 100px;
                text-transform: uppercase;
                margin-bottom: 20px;

                @media (max-width: $screen-sm-max) {
                    text-align: center;
                    font-size: 28px;
                    margin: auto;
                }
            }

            .slick-prev, .slick-next {
                border: 2px solid $cc-green;
                background-color: $white;
                width: 36px;
                height: 36px;
                z-index: 8;
                bottom: auto;
                top: -44px;
                border-radius: 50%;

                &:before {
                    color: $cc-green;
                    font-family: $minion;
                    font-weight: bold;
                }
            }

            .slick-prev {
                right: 40px;
                left: auto;
            }

            .slick-next {
                right: 0px;
                left: auto;
            }

            .slick-slide {
                height: auto;
            }

            .view-all-container {
                background: $white;
                padding: 10px 15px;
                text-align: center;
                font-family: $proxima;
                color: $dkr-grey;
                font-size: 17px;
                font-weight: 400;
                margin: 30px 0;
                text-transform: uppercase;
                @include transition (0.3s all);

                &:hover {
                    background: $cc-green;
                    color: $white;
                }
            }

            .upcoming-events-box {
                background: $white;
                padding: 32px 28px;

                h2 {
                    color: $cc-lt-grey;
                    font-size: 24px; 
                    font-weight: 400;
                    text-align: left;
                    margin-bottom: 25px;
                    text-transform: uppercase;
                    font-family: $proxima;
                    letter-spacing: 2;
                }

                .event-details {
                    margin-bottom: 10px;
                    display: table;

                    .event-date {
                        display: table-cell;
                        font-family: $proxima;
                        color:  $dkr-grey;
                        font-size: 14px;
                        font-weight: 400;
                        text-align: left;
                        padding-right: 10px;
                        width: 90px;
                    }

                    .event-title {
                        display: table-cell;
                        font-family: $minion;
                        color:  $dkr-grey;
                        font-size: 16px;
                        font-weight: 600;
                        text-align: left;
                        margin-right: 10px;
                        line-height: 1.25;

                        a {
                            color: $dkr-grey;
                        }
                    }
                }

                .full-calendar {
                    border-top: 3px solid $lt-grey;
                    margin-top: 20px;
                    padding-top: 20px;

                    a {
                        font-family: $proxima;
                        color:  $dkr-grey;
                        font-size: 16px;
                        font-weight: 400;
                        text-align: left;
                        text-transform: uppercase;
                    }

                }
            }

            .featured-events-slider {
                margin-bottom: 0;
            }

            .col-event-box {
                margin-bottom: 0px; 

                @include first(2){
                    margin-bottom: 30px;
                }
            }

            .event-box {
                background: $white;

                .event-title-box-outer {
                    background: $cc-green;
                    padding: 14px 14px 0 14px;
                }

                .event-title-box {
                    border-top: 4px solid $white;
                    border-left: 4px solid $white;
                    border-right: 4px solid $white;
                    height: 160px;
                    padding: 20px;
                    display: table-cell;
                    vertical-align: bottom;
                    min-width: 266px;
                    height: 200px;

                    @media (min-width: $screen-lg) {
                        width: 331px;
                        height: 180px;
                    }

                    @media (max-width: $screen-sm-max) {
                        width: 100%;
                        display: block;
                        text-align: center;
                        height: auto;
                        padding: 40px 20px;
                    }

                    h2.event-title {
                        color: $white;
                        font-size: 32px; 
                        font-weight: 400;
                        text-align: left;
                        line-height: 1;

                        @media (max-width: $screen-sm-max) {
                            text-align: center;
                        }
                    }
                }

                .event-details-box {
                    padding: 17px 33px;
                    font-family: $proxima;
                    color:  $dkr-grey;
                    font-size: 16px;
                    font-weight: 400;
                    text-align: left;


                    .event-time {
                        display: block;
                    }

                    .event-description {
                        margin-bottom: 60px;
                        
                        @media (max-width: $screen-sm-max) {
                            margin-bottom: 40px;
                        }
                    }

                    .site-btn {
                        //main styles in base.scss
                        margin-top: 20px;
                        position: absolute;
                        bottom: 20px;
                        
                        @media (max-width: $screen-sm-max) {
                            position: relative;
                        }
                    }
                }
            }
        }

        //-Announcements
        .home-announcements {
            background: $peachy;
            padding-top: 40px;
            padding-bottom: 40px;

            h2.section-title {
                text-align: right;
                color: $cc-orange;
                font-size: 30px;
                font-weight: 400;
                margin-right: 100px;
                text-transform: uppercase;
                margin-bottom: 20px;

                @media (max-width: $screen-sm-max) {
                    text-align: center;
                    font-size: 28px;
                    margin: auto;
                }
            }

            .slick-prev, .slick-next {
                border: 2px solid $cc-orange;
                background-color: $white;
                width: 36px;
                height: 36px;
                z-index: 8;
                bottom: auto;
                top: -44px;
                border-radius: 50%;

                &:before {
                    color: $cc-orange;
                    font-family: $minion;
                    font-weight: bold;
                }
            }

            .slick-prev {
                right: 40px;
                left: auto;
            }

            .slick-next {
                right: 0px;
                left: auto;
            }

            .slick-slide {
                height: auto;
            }

            .col-announcement-box {
                margin-bottom: 10px; 
                width: 100%;
            }

            .announcement-box {
                background: $white;

                .announcement-title-box-outer {
                    background: $cc-orange;
                    padding: 14px 14px 0 14px;
                }

                .announcement-title-box {
                    border-top: 4px solid $white;
                    border-left: 4px solid $white;
                    border-right: 4px solid $white;
                    height: 160px;
                    padding: 20px;
                    display: table-cell;
                    vertical-align: bottom;
                    min-width: 265px;
                    height: 200px;

                    @media (min-width: $screen-lg) {
                        width: 317px;
                        height: 180px;
                    }

                    @media (max-width: $screen-sm-max) {
                        width: 100%;
                        display: block;
                        text-align: center;
                        height: auto;
                        display: block;
                    }

                    h2.announcement-title {
                        color: $dkr-grey;
                        font-size: 32px; 
                        font-weight: 400;
                        text-align: left;
                        line-height: 1;

                        @media (max-width: $screen-sm-max) {
                            text-align: center;
                        }
                    }
                }

                .announcement-details-box {
                    padding: 17px 33px;
                    font-family: $proxima;
                    color:  $dkr-grey;
                    font-size: 16px;
                    font-weight: 400;
                    text-align: left;

                    .announcement-description {
                        margin-bottom: 60px;
                        
                        @media (max-width: $screen-sm-max) {
                            margin-bottom: 40px;
                        }
                    }

                    .site-btn {
                        //main styles in base.scss
                        margin-top: 20px;
                        position: absolute;
                        bottom: 20px;
                        
                        @media (max-width: $screen-sm-max) {
                            position: relative;
                        }
                    }
                }
            }

            .view-all-container {
                background: $white;
                padding: 10px 15px;
                text-align: center;
                font-family: $proxima;
                color: $dkr-grey;
                font-size: 17px;
                font-weight: 400;
                margin: 0px 0;
                text-transform: uppercase;
                @include transition (0.3s all);

                &:hover {
                    background: $cc-orange;
                    color: $white;
                }
            }
        }

        //Bonus Call Out
        .bonus-callout {
            padding-top: 30px;
            padding-bottom: 60px;
            background: url(img/poa-floral-bg.jpg) no-repeat 100% 50%;
            background-size: 650px;

            .callout-outline {
                background: $peachy;
                padding: 15px;
            }

            .bonus-callout-container {
                border: 2px solid $white;
                background: $peachy;
                padding: 20px 20px 20px;
            }

            h2.callout-headline {
                color:  $dkr-grey;
                font-size: 36px;
                font-weight: 400;
                line-height: 1;
                text-align: left;
                margin-bottom: 30px;
            }

            p.callout-excerpt {
                font-family: $minion;
                color:  $dkr-grey;
                font-size: 18px;
                font-weight: 400;
                line-height: 1.5;
                text-align: left;
            }

            .btn-container {
                text-align: right;
            }
        }
    }
}