@media screen {
    //News Styles
    
    .announcement-img {
        img {
            width: 165px;
            height: 165px;
            display: inline-block;
            float: left;
            margin-right: 20px;
            margin-bottom: 10px;
        }
    }
    
}