//See base modal styles in frontpage.modal.scss

//Custom Styles
#account-saved-listings, #saved-searches, #account-register, #notification-options {
    margin: 55px 0 25px 0;

    //Create/Sign In
    form.account-login {
        label {
            font-family: $proxima;
            text-transform: uppercase;
            font-size: 12px;
        }

        input, textarea {
            background: $white;
            width: 100%;
            font-family: $proxima;
            color:  $brown;
            font-size: 14px;/* Approximation due to font substitution */
            font-weight: 400;
            line-height: 1;/* Approximation due to font substitution */
            text-align: left;
            border-radius: 0;
            border: 1px solid $brown;
            padding: 10px 15px;
            margin-bottom: 5px;
            text-transform: uppercase;
            margin-bottom: 20px;

            &:focus {
                outline: none;
            }

            &.error {
                background: pink;
                border: 1px solid red;
            }
        }

        .newsletter-agreement {
            display: block;
            margin-bottom: 10px;

            input[type="checkbox"] {
                display: inline-block;
                width: auto;
                margin-right: 10px;
            }

            label {
                display: inline-block;
                width: auto;
            }
        }


    }



    //After logged in
    .child-content, .child-content span {
        font-family: $cronos !important;
        color: $brown !important;
        text-align: left !important;
        font-size: 20px !important;
        line-height: 1.5 !important;

        .account-unsave-listing {
            @include transition(0.3s all);
            color: $gold;
            border-bottom: 1px solid rgba(255,255,255,0);

            &:focus, &:hover {
                text-decoration: none !important;
                color: darken($brown,40%);
                border-bottom: 1px solid $gold;
            }
        }

        > a, > form a {
            font-size: 0.9rem;
            text-transform: uppercase;
            color: $cc-med-grey;
        }

        > form a {
            margin-top: -23px;
        }

        .remove {
            font-family: $proxima !important;
            text-transform: uppercase;
            font-size: 12px !important;
        }

        .trash-icon {
            width: 16px;
            height: 16px;
            background: url(img/bin.png) no-repeat 50% 50%;
            background-size: cover;
            display: inline-block;
            position: relative;
            margin-top: 20px;
            top: 1px;
        }
    }

    hr {
        margin: 10px 0;
        border-top: 1px solid $lt-grey;
    }

    .success-message {
        display: block;
        margin-top: 40px;
    }

    .error-message {
        display: block;
        color: red;
        font-family: $oswald;
        font-size: 16px;
        text-transform: uppercase;
    }

    .saved-listings-slider {
        padding-bottom: 60px;
        margin-bottom: 35px;
        margin-top: 40px;

        h3 {
            margin: 0 0 40px;
            font-family: $baskerville;
            color:  $brown;
            text-transform: uppercase;
            font-size: 1.5em; //different than base h1 size
            display: block;
        }

        .slick-prev, .slick-next {
            background-color: $white;
            width: 30px;
            height: 30px;
            z-index: 8;
            top: -40px;

            &:before {
                color: $brown;
                font-family: $baskerville;
            }
        }

        .slick-prev {
            right: 50px;
            left: auto;
            background: url(./img/icon-prev-next.png) no-repeat center left / cover;
        }

        .slick-next {
            right: 10px;
            left: auto;
            background: url(./img/icon-prev-next.png) no-repeat center right / cover;
        }

        .slick-list {
            width: 500%;
        }

        .slide {
            max-width: 245px;
            margin-right: 28px;

            .height-container {
                height: 375px; //to align btns
            }

            .image {
                margin-bottom: 14px;
            }

            .title {
                font-family: $oswald;
                color: $cc-brown;
                font-size: 1rem; /* Approximation due to font substitution */
                font-weight: 400;
                line-height: 1.5; /* Approximation due to font substitution */
                text-align: left;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 16px;
            }

            .details {
                font-family: $font-sans;
                color: $cc-med-grey;
                font-size: 0.85rem;
                font-weight: 400;
                line-height: 1.4;
                text-align: left;
                margin-bottom: 20px;
                height: 120px;

                p {
                    font-size: 1em;
                }
            }

            .site-btn {
                //base styles in base.scss
                width: 100%;
                text-align: center;
            }

        }
    }

    ul.saved-searches-list {
        margin: 35px 0 0 0;
        padding: 0 0 35px 0;

        li {
            margin: 0 0 20px 23px;
            color: $cc-green;

            a {
                text-decoration: none;
                border-bottom: 1px solid rgba(255,255,255,0) !important;

                &:hover {
                    text-decoration: none;
                    border-bottom: 1px solid $cc-green !important;
                }
            }

            .trash-icon, .remove {
                margin-top: 0;
            }
        }
    }


    #account-email-form {
        margin-top: 40px;
        padding-bottom: 35px;

        button.site-btn {
            margin-top: 40px;
        }

        input[type="radio"], input[type="checkbox"] {
            margin-right: 5px;
        }

        label {
            font-family: $font-sans;
            font-weight: $weight-regular;
            font-size: 1rem;
            color: $cc-med-grey;
        }
    }
}

.sidebar-text {
    margin: 55px 0 0 0;

    ul {
        padding: 0;
    }

    li {
        margin: 0 0 5px 0;
        list-style-type: none;

        a {
            font-family: $font-sans;
            font-size: 0.9rem;
            text-transform: uppercase;
            color: $cc-green;
        }
    }

    .btn-link {
        font-family: $font-sans;
        font-size: 0.9rem;
        text-transform: uppercase;
        color: $cc-green;
        padding: 0;
    }
}

#imap {
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;

    .listing-address {
        font-size: 1.75rem;
        margin-top: 15px;
        color: $cc-green;
    }

    .listing-neighborhood {
        margin-top: 10px;
    }
}