// Base Styles
// ===================================

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
}

a {
    color: $cc-green;
    @include transition(0.2s all);
}

a:focus, a:hover {
    color: darken($cc-green, 10);
}

*:focus {
    outline: 0;
}

.ie-only {
    display: none;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

.extra-top {
    margin-top: 100px;

    @media (max-width: $screen-xs-max) {
        margin-top: 60px;
    }
}

.extra-bottom {
    margin-bottom: 100px;

    @media (max-width: $screen-xs-max) {
        margin-bottom: 60px;
    }
}

.expand-column {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

//IE Fixes
.lt-ie9 {

    .ie-only {
        display: block;
    }

    img.bg {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1600px;

        /* Set up proportionate scaling */
        width: 100%;
        height: auto;

        /* Set up positioning */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .visible-sm img {
        display: none;
    }
}

.icon-play {
    position: absolute;
    opacity: 0.75;
    @include center(xy);
    @include transition(0.2s all);

    &:hover {
        opacity: 1;
    }

    img {
        border: none !important;
    }
}

.icon-container {
    position: relative;
}
