// Base Styles
// ===================================

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
}

a {
    @include transition(all, 0.2s, ease-in-out, 0s);
}

a:focus, a:hover {
    text-decoration: none !important;
    color: darken($white,20%);
}

*:focus {
    outline: 0;
}

.ie-only {
    display: none;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

//IE Fixes
.lt-ie9 {

    .ie-only {
        display: block;
    }

    img.bg {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1600px;

        /* Set up proportionate scaling */
        width: 100%;
        height: auto;

        /* Set up positioning */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .visible-sm img {
        display: none;
    }
}