// Calendar
// ===================================

.calendar {
    width: 85%;
    padding: 0 0 15px 0;
    position: relative;
    text-align: center;
    background: $white;
    font-family: $font-sans;
    font-size: 1.1rem;

    & table {
        width: 100%;
    }

   &__month{
        width: 100%;
        background: $cc-orange;
        position: relative;
        color: $white;
        margin: 0 auto -5px auto;
        padding: 20px 0;
        font-family: $font-sans;
        font-weight: $weight-regular;
        font-size: 1.65rem;
        text-transform: none;
    }

    & thead {
        margin: 0 auto;
        color: $white;
        background: $cc-orange;
        font-weight: $weight-bold;
        text-transform: uppercase;

        td {
            margin: 0;
            border-radius: 0;
        }
    }

    & tbody {
        color: #7c8a95;
    }

    tbody td:hover {
        // border: 2px solid $cc-orange;
    }

    & td {
        border: none;
        border-radius: 50%;
        height: 2.9rem;
        line-height: 2.9rem;
        text-align: center;
        width: 2.9rem;
    }

    .current-day {
        background: $cc-orange;
        color: $white;

        &:after {
            background: $white;
        }
    }

    .event {
        cursor: pointer;
        position: relative;

        &:after {
            background: $cc-orange;
            border-radius: 50%;
            top: .5rem;
            right: .5rem;
            display: block;
            content: '';
            height: .4em;
            width: .4em;
            margin: -.25em 0 0 -.25em;
            position: absolute;
        }
    }

}
