// Import Fonts
// ===================================

@font-face {
    font-family: 'avenir';
    src: url('/fonts/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
         url('/fonts/AvenirNextLTPro-Demi.otf')  format('opentype'),
         url('/fonts/AvenirNextLTPro-Demi.woff') format('woff'),
         url('/fonts/AvenirNextLTPro-Demi.ttf')  format('truetype'),
         url('/fonts/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
    font-weight: 700;
    font-style: normal;
}


// Base Font Styles
// ===================================

$minion              : "minion-pro", serif;
$avenir              : "avenir", sans-serif;
$font-sans           : $avenir, sans-serif;
$font-serif          : $minion, serif;



// Font Weights
// ===================================

$weight-light          : 300;
$weight-regular        : 400;
$weight-medium         : 500;
$weight-semibold       : 600;
$weight-bold           : 700;
$weight-black          : 800;



// Basics
// ===================================

html, body {
    color: $black;
    font-size: 1em;
    font-family: $font-sans;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-sans;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

h1 {
    font-family: $minion;
    font-weight: $weight-regular;
    font-size: 6rem;
    line-height: 1;
    text-transform: none;
    color: $white;
    text-shadow: 0 0 10px rgba(#555d59, .5);
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.75em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1.25em;
}

p, ol, ul {
    font-size: 1.125em;
    line-height: 1.5;

    @media (max-width: $screen-sm-max) {
        font-size: 15px;
    }
}

