// Import Fonts
// ===================================
@import url(https://fonts.googleapis.com/css?family=Oswald);


// Base Font Styles
// ===================================

$minion              : "minion-pro", serif;
$proxima             : "proxima-nova", sans-serif;
$font-sans           : $proxima, sans-serif;
$font-serif          : $minion, serif;


// HomeFinder Styles
// ===================================
$baskerville         : "baskerville-urw", serif;
$oswald              : 'Oswald', sans-serif;
$cronos              : "cronos-pro",sans-serif;

// Landing Page Styles
// ===================================
$odense: 'Odense',sans-serif;

// Font Weights
// ===================================

$weight-light        : 300;
$weight-regular      : 400;
$weight-medium       : 500;
$weight-semibold     : 600;
$weight-bold         : 700;
$weight-black        : 800;



// Basics
// ===================================

html, body {
    color: $black;
    font-size: 1rem;
    font-family: $font-sans;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-sans;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

h1 {
    font-family: $font-serif;
    font-weight: $weight-regular;
    font-size: 5.9rem;
    line-height: 1;
    text-transform: none;
    color: $white;
    text-shadow: 0 0 10px rgba(#555d59, .5);
}

h2 {
    font-family: $font-serif;
    font-weight: $weight-regular;
    font-size: 2.2rem;
    line-height: 1.4;
    color: $cc-brown;
    text-transform: none;
}

h3 {
    font-family: $font-serif;
    font-weight: $weight-regular;
    font-size: 1.5rem;
    line-height: 1;
    text-transform: none;
    color: $cc-brown;

    @media (min-width: $screen-xlg) {
        font-size: 1.85rem;
    }
}

h4 {
    margin-bottom: 20px;
    font-family: $font-sans;
    font-weight: $weight-bold;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    line-height: 1;
    text-transform: uppercase;
    color: $cc-brown;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.25em;
}

p, ol, ul {
    font-size: 1rem;
    line-height: 1.5;
    font-family: $font-serif;

    @media (max-width: $screen-sm-max) {
        font-size: 0.8rem;
    }
}

