// Forms
// ===================================

.dropdown-toggle {
    min-width: 400px;
    padding: 11px 25px;
    margin-right: 20px;
    border-radius: 0;
    border: none;
    outline: none;
    font-family: $font-serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: $weight-regular;
    color: $cc-med-grey;
    text-align: left;

    @media (max-width: $screen-xs-max) {
        min-width: 0;
        width: 220px;
        padding: 12px 15px;
        font-size: 1rem;
        margin-right: 0;
    }

    .caret {
        float: right;
        margin-top: 3%;
        color: $cc-med-grey;
        border-top:   10px solid $cc-med-grey !important;
        border-right: 10px solid transparent;
        border-left:  10px solid transparent;

        @media (max-width: $screen-xs-max) {
            margin-top: 4%;
            border-top:   7px solid $cc-med-grey !important;
            border-right: 7px solid transparent;
            border-left:  7px solid transparent;
        }
    }
}

.dropdown-menu {
    min-width: 400px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;

    li {
        margin: 10px 0;
        text-align: left;
        text-indent: 10px;
        font-family: $font-serif;
        font-size: 1.35rem;
        font-style: italic;
        font-weight: $weight-regular;
        color: $cc-med-grey;

        @media (max-width: $screen-xs-max) {
            font-size: 1rem;
            text-indent: 0;
            padding: 0;
        }
    }

    li a:hover {
        background-color: $cc-med-grey;
    }

    @media (max-width: $screen-xs-max) {
        min-width: 0;
        width: 220px;
    }
}

.events-headline-contact {

    h2 {
        margin-bottom: 75px;
    }

    h4 {
        margin-left: 15px;
        font-size: 1rem;
        font-weight: $weight-medium;
    }

    .btn {
        margin: 25px 0 0 8px;
    }
}

.input-search {
    width: 100%;
    height: 4.3rem;
    text-indent: 20px;
    font-family: $font-sans;
    font-weight: $weight-regular;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: $cc-med-grey;

    @media (max-width: $screen-xs-max) {
        height: 3rem;
        text-indent: 10px;
        font-size: 0.9rem;
    }

}

.btn-search {
    background-color: $white;
    background-image: url(./img/icon-search.png);
    background-repeat: no-repeat;
    background-position: center center;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: none;
    @include transition(0.2s all);

    &-lg {
        @extend .btn-search;
        height: 4.3rem;
        width: 75px;
        background-size: 1.4rem;

        @media (max-width: $screen-xs-max) {
            height: 3rem;
            width: 55px;
        }

        &:hover {
            background-color: #ebebeb;
            background-image: url(./img/icon-search.png);
            background-repeat: no-repeat;
            background-position: center center;
        }

        &:active {
            background-color: $white;
            background-image: url(./img/icon-search.png);
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &-sm {
        @extend .btn-search;
        background-color: #ebebeb;
        border: none;
        height: 34px;
        width: 35px;
        background-size: 1rem;

        &:hover {
            background-color: #ebebeb;
            background-image: url(./img/icon-search.png);
            background-repeat: no-repeat;
            background-position: center center;
        }

        &:active {
            background-color: #ebebeb;
            background-image: url(./img/icon-search.png);
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

}



// Gravity Forms Styles
// ===================================

.gfield {
    display: inline-block;
    border-radius: 0;
    font-size: 1rem;
    width: 50%;
    text-align: left;
    color: $cc-med-grey;

    @media (max-width: $screen-xs-max) {
        width: 100%;
        margin: 5px 0;
    }
}

.events__form-container {
    .gfield {
        width: 40%;
    }

    input#gform_submit_button_2.gform_button.button {
        margin-top: 15px;
    }
}

.gfield_label {
    visibility: hidden;
    height: 0;

    @media (max-width: $screen-xs-max) {
        display: none !important;
    }
}

.gform_wrapper ul li.gfield {
    margin-bottom: 0;
}

.gform_wrapper .hidden_label input.small,
.gform_wrapper .hidden_label select.small,
.gform_wrapper .top_label input.small,
.gform_wrapper .top_label select.small,
.gform_wrapper .hidden_label input.medium,
.gform_wrapper .hidden_label select.medium,
.gform_wrapper .top_label input.medium,
.gform_wrapper .top_label select.medium,
.gform_wrapper .hidden_label input.large,
.gform_wrapper .hidden_label select.large,
.gform_wrapper .top_label input.large,
.gform_wrapper .top_label select.large {
    width: 91% !important;
    height: 3rem;
    text-indent: 15px;
    font-family: $font-sans;
    font-weight: $weight-regular;
    font-size: 0.85rem;
    text-transform: uppercase;
    color: $cc-med-grey;

    @media (max-width: $screen-xs-max) {
        width: 100% !important;
        height: 3rem;
    }
}

.gform_wrapper .hidden_label textarea.small,
.gform_wrapper .top_label textarea.small,
.gform_wrapper .hidden_label textarea.medium,
.gform_wrapper .top_label textarea.medium,
.gform_wrapper .hidden_label textarea.large,
.gform_wrapper .top_label textarea.large {
    width: 91% !important;
    height: 170px;
    text-indent: 15px;
    font-family: $font-sans;
    font-weight: $weight-regular;
    font-size: 0.85rem;
    text-transform: uppercase;
    color: $cc-med-grey;

    @media (max-width: $screen-xs-max) {
        width: 100% !important;
        height: 150px;
    }
}

.events__form-container .gform_wrapper .hidden_label input.small,
.events__form-container .gform_wrapper .hidden_label select.small,
.events__form-container .gform_wrapper .top_label input.small,
.events__form-container .gform_wrapper .top_label select.small,
.events__form-container .gform_wrapper .hidden_label input.medium,
.events__form-container .gform_wrapper .hidden_label select.medium,
.events__form-container .gform_wrapper .top_label input.medium,
.events__form-container .gform_wrapper .top_label select.medium,
.events__form-container .gform_wrapper .hidden_label input.large,
.events__form-container .gform_wrapper .hidden_label select.large,
.events__form-container .gform_wrapper .top_label input.large,
.events__form-container .gform_wrapper .top_label select.large {
    height: 3rem;
}

.gform_wrapper .gform_body .gform_fields .gfield select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: $padding-base-vertical 0;
    border-radius: 0;
    border: 1px solid #ddd;
    outline: none;
    font-family: $font-sans;
    font-size: 0.85rem;
    background: url(./img/icon-caret.png) no-repeat 95% center;
    background-size: 13px;
    color: rgb(169, 169, 169);
}

.gform_wrapper .gform_body .gform_fields .gfield textarea {
    padding: 13px 0;
    border-radius: 0;
    border: 1px solid #ddd;
    outline: none;
    font-family: $font-sans;
    font-size: 0.85rem;
}

.gform_wrapper .gform_body .gform_fields .gfield .gfield_checkbox li input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 5px;
    margin-right: 20px;
    background-color: $white;
    border: 1px solid $input-border;
    padding: 17px;
    border-radius: 0;
    display: inline-block;
    position: relative;
    outline: none;

    @media (max-width: $screen-xs-max) {
        padding: 15px;
        margin-right: 10px;
    }

    &:active, &:checked:active {
        background-color: $white;
    }

    &:checked {
        background-color: $white;
        color: #99a1a7;
    }

    &:checked:after {
        content: '\2714';
        font-size: 1.25rem;
        position: absolute;
        top: 5px;
        left: 10px;
        color: $cc-lt-grey;

        @media (max-width: $screen-xs-max) {
            font-size: 1.2rem;
            left: 7px;
        }
    }
}

.gform_wrapper .gfield_checkbox li label,
.gform_wrapper .gfield_radio li label {
    margin-top: 10px !important;
    font-family: $font-sans !important;
    font-weight: $weight-regular !important;
    font-size: 0.9rem !important;
    color: $cc-med-grey;

    @media (max-width: 1150px) {
        font-size: 0.9rem !important;
        margin-top: 5px !important;
    }

    @media (max-width: $screen-xs-max) {
        margin-top: 10px !important;
        font-size: 0.8rem !important;
    }
}

.gform_wrapper .gform_footer {
    margin-top: -65px !important;

    @media (max-width: $screen-xs-max) {
        margin-top: 0 !important;
    }
}

.events__form-container .gform_wrapper .gform_footer {
    margin-top: -80px !important;
    padding-top: 0;
}

.gform_wrapper .gform_footer input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 7px 25px;
    position: relative;
    font-family: $font-serif;
    font-weight: $weight-regular;
    font-size: 1rem !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $white;
    background-color: $cc-green;
    border: 1px solid darken($cc-green, 10);
    outline: 5px solid $cc-green;
    left: 77%;

    &:hover {
        color: $white;
        text-shadow: 0 2px 10px rgba($black, .5);
        background-color: darken($cc-green, 2);
        border: 1px solid darken($cc-green, 10);
        outline: 5px solid darken($cc-green, 2);;
    }

    @media (max-width: 1150px) {
        left: 74%;
    }

    @media (max-width: $screen-xs-max) {
        left: 0;
        width: 100%;
        font-size: 1rem !important;
    }
}

.gform_confirmation_message {
    margin-top: 10px;
    font-family: $font-sans;
    font-weight: $weight-regular;
    font-size: 1rem;
    text-transform: uppercase;
    color: $cc-lt-grey;
}

#gform_wrapper_2 {
    .gform_footer {
        margin-top: -68px !important;
        padding-top: 0;

        @media (max-width: $screen-xs-max) {
            margin-top: 20px !important;
        }
    }
}

.footer-content {
    #gform_wrapper_2 {
        .gform_footer {
            margin-top: 25px !important;
            padding-top: 0;
        }
    }
}

#gform_wrapper_3 {
    margin: 0;

    .gfield {
        width: 100%;
        margin-bottom: 20px;

        @media (max-width: $screen-xs-max) {
            margin-bottom: 15px;
        }
    }

    .ginput_complex span input[type=text],
    .ginput_container_email input[type=email],
    .ginput_container_phone input[type=tel],
    .ginput_complex span select {
        height: 3rem;
        text-indent: 15px;
        font-family: $font-sans;
        font-weight: $weight-regular;
        font-size: 1rem;
        text-transform: none;
        color: $cc-med-grey;
        background-color: $white;

        @media (max-width: $screen-xs-max) {
            height: 2.75rem;
        }
    }

    .ginput_container_textarea textarea {
        padding: 15px;
        font-family: $font-sans;
        font-weight: $weight-regular;
        font-size: 1rem;
        text-transform: none;
        color: $cc-med-grey;
        background-color: $white;
        border: 1px solid $input-border;

        &:focus {
            outline: none;
        }
    }

    .ginput_complex span label {
        margin-left: 5px;
        margin-bottom: 25px;
        font-family: $font-sans;
        font-weight: $weight-regular;
        text-transform: uppercase;
        font-size: 0.8rem;
        color: $cc-med-grey;

        @media (max-width: $screen-xs-max) {
            font-size: 0.7rem;
            margin-bottom: 20px;
            letter-spacing: 0;
        }
    }

    .gfield_label {
        font-family: $font-serif;
        font-weight: $weight-regular;
        text-transform: uppercase;
        font-size: 1.15rem;
        color: $cc-green;
        visibility: visible;

        @media (max-width: $screen-xs-max) {
            font-size: 1rem;
            display: block;
        }
    }

    .ginput_container_phone,
    .ginput_container_email,
    .ginput_container_select,
    .ginput_container_textarea {
        width: 50%;

        @media (max-width: $screen-xs-max) {
            width: 100%;
        }
    }

    .ginput_container select {
        background-color: $white;
    }

    .ginput_container_textarea textarea {
        border: 1px solid $input-border;
    }

    .gform_footer.top_label {
        margin-top: -80px !important;

        @media (max-width: $screen-xs-max) {
            margin-top: 0 !important;
        }
    }
}