// Forms
// ===================================

.dropdown-toggle {
    min-width: 470px;
    padding: 12px 30px;
    margin-right: 20px;
    border-radius: 0;
    border: none;
    outline: none;
    font-family: $font-serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: $weight-regular;
    color: $cc-med-grey;
    text-align: left;

    .caret {
        float: right;
        margin-top: 3%;
        color: $cc-med-grey;
        border-top:   10px solid $cc-med-grey !important;
        border-right: 10px solid transparent;
        border-left:  10px solid transparent;
    }
}

.dropdown-menu {
    min-width: 470px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;

    li {
        margin: 10px 0;
        text-align: left;
        text-indent: 20px;
        font-family: $font-serif;
        font-size: 1.35rem;
        font-style: italic;
        font-weight: $weight-regular;
        color: $cc-med-grey;
    }

    li a:hover {
        background-color: $cc-med-grey;
    }
}

.events-headline-contact {
    // margin-top: 50px;

    h2 {
        margin-bottom: 75px;
    }

    h4 {
        margin-left: 15px;
        font-size: 1rem;
        font-weight: $weight-medium;
    }

    .btn {
        margin: 25px 0 0 8px;
    }
}



// Gravity Forms Styles
// ===================================

.gfield {
    display: inline-block;
    border-radius: 0;
    font-size: 1rem;
    width: 50%;
    text-align: left;
    color: $cc-med-grey;
}

.events__form-container .gfield {
    width: 40%;
}

.gform_wrapper .hidden_label input.medium,
.gform_wrapper .hidden_label select.medium,
.gform_wrapper .top_label input.medium,
.gform_wrapper .top_label select.medium,
.gform_wrapper .hidden_label input.large,
.gform_wrapper .hidden_label select.large,
.gform_wrapper .top_label input.large,
.gform_wrapper .top_label select.large {
    width: 93% !important;
    margin-bottom: 5px;
    height: 4.75rem;
    text-indent: 15px;
    font-family: $font-sans;
    font-weight: $weight-regular;
    font-size: 1rem;
    text-transform: uppercase;
    color: $cc-med-grey;
}

.events__form-container .gform_wrapper .hidden_label input.medium,
.events__form-container .gform_wrapper .hidden_label select.medium,
.events__form-container .gform_wrapper .top_label input.medium,
.events__form-container .gform_wrapper .top_label select.medium,
.events__form-container .gform_wrapper .hidden_label input.large,
.events__form-container .gform_wrapper .hidden_label select.large,
.events__form-container .gform_wrapper .top_label input.large,
.events__form-container .gform_wrapper .top_label select.large {
    height: 4rem;
}

.gform_wrapper .gform_body .gform_fields .gfield select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: $padding-base-vertical 0;
    border-radius: 0;
    border: 1px solid #ddd;
    outline: none;
    font-family: $font-sans;
    font-size: 1rem;
    background: url(./img/icon-caret.png) no-repeat 95% center;
    background-size: 13px;
    color: rgb(169, 169, 169);
}

.gform_wrapper .gform_body .gform_fields .gfield .gfield_checkbox li input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: 20px;
    background-color: $white;
    border: 1px solid $input-border;
    padding: 20px;
    border-radius: 0;
    display: inline-block;
    position: relative;

    &:active, &:checked:active {
        background-color: $white;
    }

    &:checked {
        background-color: $white;
        color: #99a1a7;
    }

    &:checked:after {
        content: '\2714';
        font-size: 1.5rem;
        position: absolute;
        top: 4px;
        left: 10px;
        color: $cc-lt-grey;
    }
}

.gform_wrapper .gfield_checkbox li label,
.gform_wrapper .gfield_radio li label {
    margin-top: 15px !important;
    font-family: $font-sans !important;
    font-weight: $weight-regular !important;
    font-size: 1rem !important;
}

.gform_wrapper .gform_footer {
    margin-top: -75px !important;
}

.events__form-container .gform_wrapper .gform_footer {
    margin-top: -80px !important;
}

.gform_wrapper .gform_footer input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px 28px;
    position: relative;
    font-family: $font-serif;
    font-weight: $weight-regular;
    font-size: 1.1rem !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $white;
    background-color: $cc-green;
    border: 1px solid darken($cc-green, 10);
    outline: 5px solid $cc-green;
    left: 81%;

    &:hover {
        color: $white;
        text-shadow: 0 2px 10px rgba($black, .5);
        background-color: darken($cc-green, 2);
        border: 1px solid darken($cc-green, 10);
        outline: 5px solid darken($cc-green, 2);;
    }
}

.gform_confirmation_message {
    margin-top: 10px;
    font-family: $font-sans;
    font-weight: $weight-regular;
    font-size: 1rem;
    text-transform: uppercase;
    color: $cc-lt-grey;
}