// Front Page Styles
// ===================================

.hero__map-link {
    margin: 100px auto 0 auto;

    @media (max-height: 780px) {
        margin-top: 75px;
    }

    a {
        font-family: $font-serif;
        font-weight: $weight-regular;
        font-size: 1.35rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $white;
        text-shadow: 0 0 10px rgba(#555d59, .5);

        &:hover {
            text-shadow: 0 0 10px rgba(#555d59, 1);
        }
    }
}

.hero__home .btn-group {
     @media (max-width: $screen-xs-max) {
        width: 220px !important;
        margin-top: 35px !important;
    }
}

.hero__home .btn-green {
     @media (max-width: $screen-xs-max) {
        width: 214px;
        margin-top: 0;
        font-size: 1rem !important;
    }
}

.hero__home .btn-group,
.hero__home .btn-green {
    margin-top: 125px;

    @media (max-height: 780px) {
        margin-top: 70px;
    }

     @media (max-width: $screen-xs-max) {
        margin-top: 15px;
    }
}

.hero__home .btn-green,
.hero__content-wrap--homes .btn-green {
    padding: 11px 38px;
    font-size: 1.2rem;
}

