//See base modal styles in frontpage.modal.scss

//Custom Styles

.account-loading-screen {
    margin-top: 50px;
    text-align: center;
    color: $brown;

    img {
        max-width: 24px;
        max-height: 24px;
        margin: auto;
    }
}

#modal-request-showing {
    .primary-page .page-content {
        margin-bottom: 0;
    }
}
.modal-dialog {
    h1 {
        font-size: 4rem;

        @media (max-width: $screen-sm-max) {
            font-size: 3rem;
        }
    }

    .black-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: rgba($black, 0.35);
    }

    .listing-address {
        font-family: $baskerville;
        color: $brown;
        font-size: 36px;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        margin-top: 25px;

        @media (max-width: $screen-sm-max) {
            font-size: 1.5rem;
            line-height: 1.2;
        }
    }

    .listing-price {
        display: inline-block;
        font-family: $oswald;
        color: $brown;
        font-size: 24px; /* Approximation due to font substitution */
        font-weight: 400;
        line-height: 1; /* Approximation due to font substitution */
        text-align: left;
        margin-top: 24px;
        margin-right: 34px;

        @media (max-width: $screen-sm-max) {
            font-size: 1.1rem;
            margin-top: 15px;
        }
    }

    .listing-specs {
        display: inline-block;
        font-family: $font-sans;
        color: $brown;
        font-size: 18px; /* Approximation due to font substitution */
        font-weight: 400;
        line-height: 1; /* Approximation due to font substitution */
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 1px;

        @media (max-width: $screen-sm-max) {
            font-size: 0.85rem;
            line-height: 1.2;
        }
    }

    .listing-neighborhood {
        font-family: $oswald;
        color: $brown;
        font-size: 16px; /* Approximation due to font substitution */
        font-weight: 400;
        line-height: 1; /* Approximation due to font substitution */
        text-align: left;
        margin-top: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;

        @media (max-width: $screen-sm-max) {
            font-size: 0.75rem;
            line-height: 1.2;
        }

        .item-padding {
            display: inline-block;
            margin: 0 15px;

            @media (max-width: $screen-sm-max) {
                margin: 0;
            }

            &:first-child {
                margin-left: 0;
            }
        }


        a {
            color: $brown;
        }
    }

    .success-message {
        display: block;
        margin-top: 40px;
    }

    form.request-showing {
        padding-top: 40px;
        padding-bottom: 40px;

        label {
            margin-bottom: 7px;
            font-family: $font-sans;
            text-transform: uppercase;
            font-size: 0.9rem;
            color: $cc-med-grey;
        }

        .red {
            color: red;
        }

        input, textarea {
            width: 100%;
            margin-bottom: 40px;
            height: 3.7rem;
            text-indent: 15px;
            font-family: $font-sans;
            font-weight: $weight-regular;
            font-size: 1rem;
            text-transform: uppercase;
            color: $cc-med-grey;

            @media (max-width: $screen-sm-max) {
                height: 2.7rem;
                margin-bottom: 25px;
            }

            &:focus {
                outline: none;
            }

            &.error {
                background: pink;
                border: 1px solid red;
            }
        }

        textarea {
            padding: 15px;
            text-indent: 0;
            height: 175px;
            background-color: $white;
            border: 1px solid $input-border;
        }

        input[type="checkbox"] {
            width: auto;
            height: auto;

        }

        .site-btn {
            margin-top: 20px;
        }

        .required {
            margin-top: 20px;
            font-family: $font-sans;
            text-transform: uppercase;
            font-size: 12px;
        }

        .error-message {
            display: block;
            color: red;
            font-family: $oswald;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}