//V2 - .my-account-bar
.my-account-bar {
    background: $cc-dk-tan;
    color: $dk-grey;
    font-family: $oswald;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 25px 5% 18px;
    position: relative;
    text-align: right;

    @media (max-width: $screen-xs-max) {
        padding: 13px 10px;
    }

    a {
        color: $cc-brown;
        text-decoration: none;

        &:hover {
            border-bottom: 1px solid $cc-brown;
        }
    }

    .property-back {
        text-align: left;

        @media (max-width: $screen-xs-max) {
            display: inline-block;
            float: left;
        }

        .col-sm-4 {
            padding-left: 0;
        }
    }

    .account-links {
        text-align: right;

        .col-sm-8 {
            padding-right: 0;
        }
    }

    .your-account {
        font-weight: bold;
    }
}

//V2 - general
.home-finder-content {
    position: relative;
    background: $beige;

    .toggle-btn {
        position: absolute;
        right: 5%;
        top: 27px;
        z-index: 2;

        span.toggle-view {
            font-family: $proxima;
            font-size: 12px; /* Approximation due to font substitution */
            font-weight: 400;
            text-transform: uppercase;
            margin-left: -4px;

            a {
                color: lighten($brown,50%);
                border-bottom: none;
                padding: 15px;
                background: $white;

                &:hover {
                    border-bottom: none;
                    color: $white;
                    background: $brown;
                    cursor: pointer;
                }
            }

            &.active {
                font-weight: 700;

                a {
                    color: $brown;
                    background: #e4e2d6;

                    &:hover {
                        color: $brown;
                        background: #e4e2d6;
                    }
                }
            }
        }
    }

    //Grid & Map
    .pagination {
        text-align: right;
        font-family: $oswald;
        font-size: 14px;
        margin-bottom: 20px;

        a {
            padding: 2px 10px;
            background: $white;
            border: 1px solid #e4e2d6;
            margin: 0 5px 5px;
            display: inline-block;

            &.active {
                padding: 2px 10px;
                background: none;;
                border: none;
                margin: 0 5px 5px;
                display: inline-block;
                color: $blue;
            }
        }
    }

    //Grid View
    .home-finder-grid-view {
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 4.1%;
        padding-right: 4.1%;
    }

    h2.listings-title {
        font-family: $baskerville;
        color: $brown;
        font-size: 32px;
        font-weight: 400;
        display: inline-block;
    }

    #saveSearchSection {
        display: inline-block;
        margin-left: 8px;

        #accountSaveSearch {
            font-family: $oswald;
            color: $cc-brown;
            font-size: 0.7rem;
            font-weight: 400;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            text-decoration: none;
            background: $cc-dk-tan;
            padding: 12px 16px;
            border-bottom: none;
            position: relative;
            top: -4px;

            &:hover {
                border-bottom: none;
                background: $cc-green;
                color: $white;
            }
        }
    }

    .results-count, #saveSearchSection {
        font-family: $proxima;
        color: $brown;
        font-size: .75rem; /* Approximation due to font substitution */
        font-weight: 400;
        line-height: 1; /* Approximation due to font substitution */
        text-align: left;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }

    .results-sort {
        font-family: $proxima;
        color: $brown;
        font-size: 10px;
        font-weight: 900;
        line-height: 1;
        text-align: left;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: inline-block;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20px;

        a  {
            font-family: $proxima;
            color: $gold;
            font-weight: 400;

            &:hover {
                color: darken($brown,40%);
            }
        }
    }


    .row-grid-view {

        .grid-save {
            position: absolute;
            top: 0;
            right: 15px;
            z-index: 1;
        }

        .grid-results-box {
            background: $white;
            border: 1px solid #e4e2d6;
            text-align: center;
            margin-bottom: 30px;

            .home-image {
                height: 240px;
                position: relative;

                @media (max-width: $screen-sm-max) {
                    height: 180px;
                }
            }

            .type-box {
                background-color: $cc-dk-tan;
                padding: 10px 18px;
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 70%;
                @include transform (translateX(-50%));
                font-family: $oswald;
                color: #526377;
                font-size: 0.7rem;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 0.75px;
            }

            .grid-box-content {
                padding: 25px;
                height: 250px;
                position: relative;

                @media (max-width: $screen-sm-max) {
                    padding: 10px 25px;
                }
            }

            .grid-address {
                font-family: $baskerville;
                color: $cc-dk-green;
                font-size: 1.3rem;
                font-weight: 400;
                margin-bottom: 15px;
                line-height: 1.05;

                @media (max-width: $screen-sm-max) {
                    margin-bottom: 10px;
                }
            }

            .grid-details {
                font-family: $proxima;
                color: $cc-med-grey;
                font-size: 0.87rem;
                font-weight: 400;
                text-transform: uppercase;

                .price {
                    margin-top: 15px;
                    // margin-bottom: 43px;
                    font-family: $oswald;
                    color: $cc-dk-green;
                    font-size: 1.15rem;
                    font-weight: 400;

                    @media (max-width: $screen-sm-max) {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
            }

            .grid-btn {
                position: absolute;
                bottom: 25px;
                width: 80%;
                @include center(x);

                .site-btn {
                    color: $cc-brown;
                    background: $white;
                    border: 1px solid $cc-green;
                    text-decoration: none;

                    &:hover {
                        color: $white;
                        background: $cc-green;
                        border: 1px solid $cc-green;
                    }
                }
            }
        }
    }

    //V2 - Map View

    .row-map-view {

        .col-lg-6 {
            @media (min-width: 1900px) {
                width: percentage((4 / $grid-columns));
            }
        }

        // For 3 column padding
        .col-lg-6:nth-child(3n+1) {
            @media (min-width: 1900px) {
                padding-left:  0 !important;
                padding-right: ($grid-gutter-width / 2.75) !important;
            }
        }

        .col-lg-6:nth-child(3n+2) {
            @media (min-width: 1900px) {
                padding-left:  ($grid-gutter-width / 2.75) !important;
                padding-right: ($grid-gutter-width / 2.75) !important;
            }
        }

        .col-lg-6:nth-child(3n) {
            @media (min-width: 1900px) {
                padding-left:  ($grid-gutter-width / 2.75) !important;
                padding-right: 0 !important;
            }
        }

        // For 2 column padding
        .col-lg-6:nth-child(odd) {
            @media (max-width: $screen-md-max) {
                padding: 0;
            }

            @media (min-width: $screen-lg) {
                padding-left: 0;
            }
        }

        .col-lg-6:nth-child(even) {
            @media (max-width: $screen-md-max) {
                padding: 0;
            }

            @media (min-width: $screen-lg) {
                padding-right: 0;
            }
        }
    }

    .col-map {
        padding: 0;
        position: relative;
        height: 900px;
        overflow: hidden;
        background: $white;
        z-index: 2;

        @include transition(0.3s all);

        &.open {
            width: 100%;
            position: absolute;
            left: 0;
        }

        @media (max-width: $screen-sm-max) {
            height: 100%;
        }
    }

    .col-map-listings {
        z-index: 1;
        height: 900px;
        padding: 20px 30px 0 30px;
        overflow-y: scroll;

        h2.listings-title {
            display: inline-block;
            font-size: 2rem;

            @media (max-width: 1225px) {
                font-size: 1.7rem;
            }
        }

        #saveSearchSection {
            display: inline-block;
            margin-top: 20px;

            @media (max-width: $screen-md-max) {
                display: block;
                margin-left: 0;
            }
        }

        #accountSaveSearch {
            margin-left: 0;
        }

        .results-count {
            @media (max-width: $screen-md-max) {
                margin-top: 26px;
            }
        }

        .results-sort {
            @media (max-width: $screen-md-max) {
                margin-top: 10px;
            }
        }

        .row-map-view {
            margin-top: 15px;
            clear: both;
        }

        .specs {
            letter-spacing: 0.25px;

            @media (max-width: 1450px) {
                font-size: 0.76rem;
                letter-spacing: 0.15px;
            }
        }

        .specs-sqft{
            @media (min-width: 1900px) {
                display: block;
                margin-bottom: 10px;
            }

            &:before {
                @media (max-width: 1899px) {
                    content: "/";
                }
            }
        }
    }

    #fullscreen-map {
        font-family: $proxima;
        color: $brown;
        font-size: 12px;
        font-weight: 400;
        padding: 16px 40px 16px 20px;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 999;
        text-transform: uppercase;
        background: $white url(img/icon-fullscreen.png) no-repeat 90% 50% / 12px;

        &:hover {
            background: $brown url(img/icon-fullscreen_lt.png) no-repeat 90% 50% / 12px;
            color: $cc-tan;
        }
    }

    #map {
        position: absolute;
        width: 200vw; //200 due to fullscreen
        height: 100vh;
        background: $white;
        z-index: 2;

        @media (max-width: $screen-sm-max) {
            height: 60vh;
            width: 100vw;
            position: relative;
        }

        .leaflet-map-pane {
            left:-70vw; //for placement on default view

            @media (max-width: $screen-sm-max) {
                left: 0;
            }
        }
    }

    .map-results-link {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .map-results-box {
        width: 100%;
        position: relative;
        margin-bottom: 30px;
        @include transition(0.2s all);

        &:hover {
            @include box-shadow(0 0 8px rgba($brown, 0.3));
        }
    }

    .map-save {
        position: absolute;
        top: 0;
        right: 15px;
        z-index: 1;
    }

    .map-box-image {
        widows: 100%;
        height: 155px;
        position: relative;
    }

    .map-box-content {
        background-color: $white;
        width: 100%;
        height: auto;
        position: relative;
        padding: 13px 13px 8px 13px;
        color: $cc-med-grey;
        overflow: hidden;

        .map-address {
            font-family: $baskerville;
            font-size: 1.28rem;
            font-weight: 400;
            margin-bottom: 7px;
            line-height: 1.1;
            color: $brown;

            @media (min-width: 1900px) {
                font-size: 1.15rem;
                white-space: nowrap;
            }
        }

        .map-details {
            font-family: $proxima;
            font-size: 0.82rem;
            font-weight: 400;
            letter-spacing: 0.35px;
            text-transform: uppercase;
        }

        .sq-ft, .price {
            display: inline-block;
        }

        .price {
            font-size: 1rem;
            letter-spacing: 0.5px;
        }

        .type-box {
            font-family: $oswald;
            font-size: 10px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: right;
        }
    }

    //Map Popup
    .leaflet-popup-content {
        .listing-img-col {
            width: 100%;
            height: 150px;
            position: relative;
            margin: 0px auto 10px;
        }

        .listing-address {
            font-family: $baskerville;
            color: $brown;
            font-size: 22px;
            font-weight: 400;
            line-height: 1;
            text-align: left;
            margin-top: 20px;
        }

        .listing-specs {
            display: inline-block;
            font-family: $proxima;
            color: $brown;
            font-size: 18px; /* Approximation due to font substitution */
            font-weight: 400;
            line-height: 1; /* Approximation due to font substitution */
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .listing-neighborhood {
            font-family: $oswald;
            color: $brown;
            font-size: 12px;
            font-weight: 400;
            line-height: 1; /* Approximation due to font substitution */
            text-align: left;
            margin-top: 15px;
            text-transform: uppercase;
            letter-spacing: 1px;

            .item-padding {
                display: inline-block;
                margin: 0 15px;

                &:first-child {
                    margin-left: 0;
                }
            }


            a {
                color: $brown;
            }
        }

        .listing-details {
            font-family: $proxima;
            font-size: 13px; /* Approximation due to font substitution */
            font-weight: 400;
            line-height: 1.5; /* Approximation due to font substitution */
            text-align: left;
            text-transform: uppercase;
            color: $brown;
            margin-top: 20px;
            margin-bottom: 0px;

            a.showProperty {
                display: block;
                margin-top: 10px;
                text-align: center;
                color: $brown;

                &:hover {
                    color: $white;
                }
            }
        }
    }
}

.gallery-lightbox-container >.close,
.gallery-lightbox-container >.prev,
.gallery-lightbox-container >.next,
.gallery-lightbox-container >.play-pause {
    width: 40px;
    height: 40px;
    line-height: 40px;
}