// Media
// ===================================

.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: rgba(0,0,0,0.9);
    text-align: center;
    font-size: 0;
    z-index: 9999999999;
    opacity: 0;
    cursor: pointer;
    @include transition(all, 0.5s, ease-in-out, 0s);

    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}

.video-popup {
    position: relative;
    width: 90%;
    display: inline-block;
    vertical-align: middle;
    background: rgba(0,0,0,0);
    color: $white;
    padding: 5px;
    cursor: default;
    height: 75%;
    max-height: 75%;
    @include transition(all, 0.3s, ease-in-out, 0s);

    .iframeWrapper {
        left: 5px;
        right: 5px;
        bottom: 5px;
        top: 5px;
        overflow: hidden;
        position: absolute;
        background: $black;
    }

    .caption {
        position: absolute;
        background: inherit;
        left: 0;
        right: 0;
        top: 100%;
        font-size: 28px;
        line-height: 1.4em;
        padding: 10px 80px;
        font-family: $font-sans;
    }

    .close-button {
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        height: 20px;
        line-height: 20px;
        margin: auto 0;
        font-size: 20px;
        font-family: $font-sans;
        cursor: pointer;
    }

    iframe {
        position: absolute;
        top: -0.5%;
        left: -0.5%;
        width: 101%;
        height: 101%;
        display: block;
    }
}

.video-overlay.visible {
    opacity: 1;

    .video-popup {
        //      @include transform(scale(1));
    }
}

.player .video-wrapper {
    background: none !important;
}

.youtube-video-wrapper {
    position: relative;
    padding-bottom: 52.65%;
    padding-top: 25px;
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}