// Navigation
// ===================================

.main-nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 17px 0 0 0;
    background: url(./img/pattern-green.jpg) repeat center center;
    z-index: 9999;
    @include box-shadow(0 3px 8px rgba($black, 0.25));
    @include transition(0.3s all);

    &__inner-wrap {
        position: relative;
        width: 100%;
    }

    &__logo {
        position: absolute;
        width: 15%;
        margin-top: 6px;
        margin-left: 5%;
        max-width: 200px;
        float: left;
        @include transition(0.3s all);
    }

    &__sub {
        margin: 0;
        float: right;
        padding: 0 5% 0 0;
        list-style-type: none;
        text-align: right;
    }

    &__sub-item {
        margin: 0 0 0 25px;
        padding: 15px 0;
        display: inline-block;
        @include transition(0.3s all);

        &:first-of-type {
            padding-left: 35px;
            background: url(./img/grad-divider.png) no-repeat left top;
        }

        @media (max-width: 1150px) {
            padding: 10px 0;
        }

        a {
            color: $cc-dk-green;
            font-size: 0.85rem;
            font-family: $font-sans;
            font-weight: $weight-bold;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-decoration: none;

            @media (min-width: $screen-xlg) {
                font-size: 1rem;
            }
        }

        a:hover {
            color: lighten($cc-dk-green, 25);
        }
    }

    &__primary {
        margin: 0;
        max-width: 80%;
        float: right;
        clear: right;
        padding: 0 5% 0 10px;
        list-style-type: none;
        text-align: right;
        background: url(./img/grad-green.png) no-repeat right top / cover;
        @include transition(1s all);
    }

    &__primary-item {
        margin: 0 0 0 20px;
        height: 100%;
        padding: 23px 0;
        display: inline-block;
        @include transition(0.3s all);

        @media (max-width: 1150px) {
            margin: 0 0 0 8px;
            padding: 20px 0;
        }

        &:first-of-type {
            padding-left: 50px;
            background: url(./img/grad-divider.png) no-repeat left top;

            @media (max-width: 1150px) {
                padding-left: 28px;
            }
        }

        a {
            color: $white;
            font-size: 1rem;
            letter-spacing: 1.8px;
            font-family: $font-serif;
            font-weight: $weight-bold;
            text-transform: uppercase;
            text-decoration: none;

            @media (min-width: $screen-xlg) {
                font-size: 1.25rem;
            }

            @media (max-width: 1150px) {
                font-size: 0.95rem;
                letter-spacing: 1px;
            }
        }

        a:hover {
            text-shadow: 0 2px 10px rgba($black, .5);
        }
    }
}

.main-nav.smaller {
    padding: 10px 0 0 0;

    .main-nav__logo {
        margin-top: 7px;
        width: 140px;
    }

    .main-nav__primary-item {
        padding: 17px 0;

        a {
            font-size: 1rem;

            @media (max-width: 1150px) {
                font-size: 0.85rem;
            }
        }

        &:first-of-type {
            padding-left: 50px;
        }
    }

    .main-nav__sub {
        width: 80%;
    }

    .main-nav__sub-item {
        padding: 8px 0;

        a {
            font-size: 0.8rem;
        }

        &:first-of-type {
            padding-left: 35px;
        }
    }

}

.breadcrumbs {
    margin: -5px 0 35px 0;

    span {
        margin: 0 10px 0 0;
        font-family: $font-sans;
        font-weight: $weight-regular;
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 0.5px;

        a {
            color: $cc-green;
        }

        a:hover {
            color: darken($cc-green, 15);
        }
    }
}

.tool-pagination {
    a, span {
        font-family: $font-sans;
        font-size: 0.9rem;
        text-transform: uppercase;
        text-decoration: none !important;
        border-bottom: none;
    }

    a:hover {
        border-bottom: 1px solid $cc-brown;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
    }

    li {
        margin-right: 8px;
        display: inline-block;
    }

    .prev, .next {
        display: inline-block;
    }
}


// Mobile Nav
// ===================================

//Call me Nick Nav
/**
* Menu overview.
*/
.c-menu {
    position: fixed;
    z-index: 1090;
    transition: transform 0.3s;
}

.c-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

/**
* Close button resets.
*/
.c-menu__close {
    background: none;
    border: none;
    box-shadow: none;
    border-radius: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

/**
* Close button resets.
*/
.c-menu__close:focus {
    outline: none;
}

/**
* Body states.
*
* When a menu is active, we want to hide the overflows on the body to prevent
* awkward document scrolling.
*/
body.has-active-menu {
    overflow: hidden;
}

/**
* Mask component
*/

.c-mask {
    position: fixed;
    z-index: 1080;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.c-menu--slide-right,
.c-menu--push-right {
    width: 300px;
    height: 100%;
    overflow-y: scroll;
}

@media all and (min-width: 320px) {
    .c-menu--slide-right,
    .c-menu--push-right {
        width: 300px;
    }
}

.c-menu--slide-right .c-menu__item,
.c-menu--push-right .c-menu__item {
    display: block;
}

.c-menu--slide-right .c-menu__item:first-child,
.c-menu--push-right .c-menu__item:first-child {
    border-top: none;
}

.c-menu--slide-right .c-menu__item:last-child,
.c-menu--push-right .c-menu__item:last-child {
    border-bottom: none;
}

.c-menu--slide-right .c-menu__link,
.c-menu--push-right .c-menu__link {
    display: block;
}

.c-menu--slide-right .c-menu__close,
.c-menu--push-right .c-menu__close {
    display: block;
    padding: 0;
}

.c-menu--slide-right,
.c-menu--push-right {
    top: 0;
    right: -300px;
    transform: translateX(100%);
}

@media all and (min-width: 320px) {
    .c-menu--slide-right,
    .c-menu--push-right {
        transform: translateX(300px);
    }
}

.c-menu--slide-right.is-active,
.c-menu--push-right.is-active {
    transform: translateX(0);
    right: 0px;
}

//End Call me Nick Nav


//Custom Nav Styles

.o-wrapper {
    display: inline;

    & > a {
        position: absolute;
        top: 15px;
        left: 20px;
        width: 110px;
        z-index: 5;
    }
}

.menu-icon {
    position: fixed;
    top: 25px;
    right: 16px;
    color: $white;
    z-index: 1080;
    background: none;
    border: none;
    padding: 0;
    height: 40px;
    width: 40px;
    line-height: .4;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    transition: all 0.3s;

    &.scroll {

        @media (max-width: $screen-sm-max) {
            background: $cc-green;
        }

    }
}

.mob-nav {
    background: url(./img/pattern-green.jpg) repeat center center;
    transition: all 0.3s;

    &.is-active {
        box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    }


    a {
        color: $cc-brown;
        border: none;

        &:hover {
            color: darken($brown,40%);
            border: none;
        }
    }

    .close-menu {
        position: absolute;
        top: 24px;
        left: 24px;

        &:hover {
            cursor: pointer;
        }

        img {
            width: 16px;
        }
    }

    .nav-header {
        width: 65%;
        margin: 30px auto 30px;
        padding-bottom: 30px;
        text-align: center;
        border-bottom: 1px solid rgba($cc-brown, .5);

        img {
            max-width: 145px;
        }
    }

    .c-menu__items {
        margin: 0;
        padding: 0;
        text-align: center;

    }

    .c-menu__item {
        margin: 0 auto 12px;
        height: 100%;
        padding: 0;
        @include transition(0.3s all);

        a {
            color: $white;
            font-size: 0.9rem;
            letter-spacing: 1.5px;
            font-family: $font-serif;
            font-weight: $weight-bold;
            text-transform: uppercase;
            text-decoration: none;
        }
    }

    .site-search {
        margin: 40px auto 0;
        width: 70%;

        input[type="search"] {
            // border: 1px solid $brown;
            background:  #ffffff url('img/search.png') no-repeat 96% 50%;
            background-size: 18px;
            width: 100%;
            padding: 10px 15px 10px 33px;
            font-family: $font-sans;
            color:  $cc-med-grey;
            font-size: 0.75rem;
            font-weight: $weight-regular;
            line-height: 1;
            text-align: left;

            &:focus {
                outline: none;
            }
        }
    }


}
