// Print Styles
// ===================================

.cx-logo {
    margin: 10px 0 45px;
    padding-right: 15px;
}

.print-contact {
    margin: 0 5px;

    p {
        font-family: $font-sans;
        font-size: 0.95rem;
        line-height: 1.7;
    }

    .title {
        display: block;
        margin-top: 40px;
        font-family: $font-serif;
        font-weight: $weight-bold;
    }
}

.listing {

    &-image {
        margin: 10px 0 15px;
    }

    &-address {
        font-family: $baskerville;
        font-size: 1.75rem;
        letter-spacing: 0.5px;
    }

    &-price {
        display: inline-block;
        margin: 5px 10px 8px 0;
        font-family: $oswald;
        font-size: 1.35rem;
        letter-spacing: 0.5px;
    }

    &-specs {
        display: inline-block;
        font-family: $font-sans;
        font-size: 1.15rem;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }

    &-neighborhood {
        display: block;
        margin-bottom: 25px;
        font-family: $oswald;
        font-size: 1rem;
        text-transform: uppercase;

        .item-padding {
            display: inline-block;
            margin: 0 15px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &-details {
        margin-bottom: 55px;
        font-family: $font-sans;
        font-size: 0.9rem;
        letter-spacing: 0.5px;

        li {
            margin-bottom: 5px;
        }
    }
}

.print-sampler {
    background-image: url(./img/sampler-gradient.png);
    background-repeat: repeat-x;
    background-position: top left;
    background-color: $white;

    .logo-header {
        padding: 10px 0 20px;
        text-align: center;
        border-bottom: 8px double $gold;

        img {
            width: 190px;
        }
    }

    h1 {
        margin: 25px auto 25px;
        text-transform: uppercase;
        font-family: $minion;
        font-size: 1.95rem;
        letter-spacing: 0.5px;
        color: $brown;
        text-shadow: none;
    }

    .listing-item {
        height: 320px;
        margin-bottom: 0;
        padding: 0 33px;

        .listing-image {
            margin-bottom: 10px;
            height: 120px;
            width: 90%;
            border: 1px solid $cc-green;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

        .listing-details {
            margin-top: 5px;
            margin-bottom: 5px;
            font-family: $proxima;
            font-size: 0.7rem;
            text-transform: uppercase;
            color: $brown;
        }

        h2 {
            font-family: $minion;
            color: $gold;
            text-transform: uppercase;
            font-size: 1.35rem;
            line-height: 1;
        }

        h3 {
            font-family: $minion;
            margin: 0;
            font-size: 1.35rem;
            color: $cc-brown;
        }

        p, ul {
            font-family: $proxima;
            font-size: 0.8rem;
            color: #555555;
            line-height: 1.25;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        li {
            margin-bottom: 10px;
        }

        .listing-price {
            font-size: 1.2rem;
            font-family: $oswald;
            margin-top: 0;
            color: $cc-brown;
        }
    }

    .sampler-foot {
        padding: 20px 0;
        border-top: 2px solid $gold;
        text-align: center;

        .footer-logo {
            width: 160px;
            margin-bottom: 25px;
        }

        p {
            font-family: $minion;
            font-size: 1.05rem;
            line-height: 1;
            color: #555555;

            img {
                height: 0.9rem;
                margin-right: 7px;
                margin-top: -2px;
                opacity: 0.5;
            }
        }

        .disclaimer {
            font-family: $proxima;
            font-size: 0.7rem;
            line-height: 1.2;
            margin-top: 20px;
        }
    }
}