// Slideshow Styles
// ===================================

#slider {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 1;
    content: none;
    @include transition(all, 0.2s, ease-in-out, 0s);

    &:hover {
        opacity: .6;
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
    }

    &--prev {
        @extend #slider;
        margin-right: 20px;
        background: url(./img/icon-prev-next.png) no-repeat center left / cover;
    }

    &--next {
        @extend #slider;
        background: url(./img/icon-prev-next.png) no-repeat center right / cover;
    }
}

.slider {
    &__controls {
        display: inline-block;
    }

    &__item {
        position: relative;
        margin-right: 30px;
        width: 300px;
        height: 400px;
        display: inline-block;
        background-color: $white;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
    }
}

.slideshow {

    &__nav {
        position: absolute;
        bottom: 7px;
        right: 15px;
        z-index: 100;
    }

    &__item {
        position: relative;
        height: 350px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__caption {
        position: absolute;
        padding: 15px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $cc-green;

        span {
            font-family: $avenir;
            font-weight: $weight-medium;
            font-size: 0.8rem;
            text-transform: none;
            color: $white;
        }
    }
}

#slideshow1,
#slideshow2 {

    &--prev,
    &--next {
        display: inline-block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        opacity: 1;
        content: none;
        @include transition(all, 0.2s, ease-in-out, 0s);

        &:hover {
            opacity: 0.6;
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &--prev {
        background: url(./img/icon-prev-next.png) no-repeat center left / cover;
    }

    &--next {
        background: url(./img/icon-prev-next.png) no-repeat center right / cover;
    }
}