// Basics
// ===================================
$white          : #fff;
$black          : #000;


// Brand Colors
// ===================================
$cc-green       : #768e1c;
$cc-dk-green    : #414d0f;
$cc-med-grey    : #828181;
$cc-lt-grey     : #919194;
$cc-tan         : #f8f2e9;
$cc-brown       : #3d3421;
$cc-red         : #e26f57;
$cc-orange      : #d6a83f;

// HomeFinder Colors
// ===================================
$beige          : #f4f0e9;
$brown          : #695e49;
$blue           : #536377;
$gold           : #9f9d5c;


// All the Greys
// ===================================
$ltr-grey       : #dedede;
$lt-grey        : #b3b3b3;
$grey           : #8a8b8d;
$dk-grey        : #58585a;
$dkr-grey       : #363636;


// Nav Offset
// ===================================
$navbar-offset: 135px;


// POA Colors
// ===================================
$dk-teal        : #9dc2be;
$dk-beige       : #e4e2d6;
$mustard        : #d8c76d;
$peachy         : #fffaf3;