// Basics
// ===================================
$white          : #fff;
$black          : #000;


// Brand Colors
// ===================================
$cc-green       : #768e1c;
$cc-dk-green    : #414d0f;
$cc-med-grey    : #828181;
$cc-lt-grey     : #919194;
$cc-tan         : #f8f2e9;
$cc-brown       : #3d3421;
$cc-red         : #e26f57;


// All the Greys
// ===================================
$ltr-grey       : #dedede;
$lt-grey        : #b3b3b3;
$grey           : #8a8b8d;
$dk-grey        : #58585a;
$dkr-grey       : #363636;


