<div class="row layer-row">
    <div class="col-xs-12 col-md-7 expand-column">
        <div class="slider-sm">
            <div class="slider-sm__item" style="background: url('{{ template_uri }}/img/residents-img.jpg') no-repeat center center / cover;">
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4 col-md-offset-1 text-left child-content">
        <h4 id="{{ child_page.post_name|slugify }}">Resident Resources</h4>
        <p>The Carnes Crossroads Property Owners&rsquo; Association plays an important role in keeping residents informed about development activities, social events and our community&rsquo;s covenants. The Association serves as a communication line with residents and is also responsible for maintaining the community&rsquo;s parks, lakes and common areas.</p>
        
        <a class="btn btn-green-small" href="/residents/">Learn More</a>
    </div>
</div>