<section class="page-content--tan">
    <div class="container">
        <div class="row">
            {% for box in page.getQuickLinkBoxes %}

            {% if loop.index0 < 3 %}
            <div class="col-xs-4 col-md-4 ">
                <div class="block--button-comm-map" style="background-image: url('{{ box.image.get_src }}')">
                    <div class="block__button-inner">
                        <a href="#"><span></span></a>
                        <h3>{{ box.title }}</h3>
                        <p>{{ box.subtitle }}</p>
                    </div>
                </div>
            </div>
            {% endif %}

            {% endfor %}
        </div>
    </div>
</section>