<nav class="main-nav">
    <div class="main-nav__inner-wrap">
        <div class="main-nav__logo"><a href="/"><img src="{{ template_uri }}/img/carnes_logo_wht.svg"></a></div>
        <ul class="main-nav__sub">
            <li class="main-nav__sub-item"><a href="">Home Finder</a></li>
            <li class="main-nav__sub-item"><a href="">Area Map</a></li>
            <li class="main-nav__sub-item"><a href="">Account/Login</a></li>
            <li class="main-nav__sub-item"><a href="">E-Newsletter</a></li>
            <li class="main-nav__sub-item"><a href="">FAQ</a></li>
            <li class="main-nav__sub-item"><a href="">Resident Info</a></li>
        </ul>
        <ul class="main-nav__primary">
            <li class="main-nav__primary-item"><a href="">Homes</a></li>
            <li class="main-nav__primary-item"><a href="">Community</a></li>
            <li class="main-nav__primary-item"><a href="/lifestyle">Lifestyle</a></li>
            <li class="main-nav__primary-item"><a href="">Location</a></li>
            <li class="main-nav__primary-item"><a href="">News &amp; Events</a></li>
            <li class="main-nav__primary-item"><a href="">Contact</a></li>
        </ul>
    </div>
</nav>