<div class="tribe-bar-disabled poa-tribe-events"><div id="tribe-events-bar">

    <form id="tribe-bar-form" class="tribe-clearfix" name="tribe-bar-form" method="post" action="http://carnescharleston.com/events?post_type=tribe_events&amp;eventDisplay=default">

        <!-- Mobile Filters Toggle -->

        <div id="tribe-bar-collapse-toggle">
            Find Events<span class="tribe-bar-toggle-arrow"></span>
        </div>

        <!-- Views -->
        <div id="tribe-bar-views">
            <div class="tribe-bar-views-inner tribe-clearfix">
                <h3 class="tribe-events-visuallyhidden">Event Views Navigation</h3>
                <ul class="tribe-bar-views-list">
                    <li class="tribe-bar-views-option tribe-bar-active">   
                        <span class="tribe-icon-month tribe-bar-active">Change View</span>
                    </li>
                    <li class="tribe-bar-views-option tribe-bar-views-option-month" data-tribe-bar-order="1" data-view="month">   
                        <a href="/residents/events-activities/"><span class="tribe-icon-month">Month</span></a>
                    </li>
                    <li class="tribe-bar-views-option tribe-bar-views-option-list" data-tribe-bar-order="0" data-view="list">   
                        <a href="/residents/events-activities/list"><span class="tribe-icon-list">List</span></a>
                    </li>
                </ul>
            </div>
            <!-- .tribe-bar-views-inner -->
        </div><!-- .tribe-bar-views -->

        <div class="tribe-bar-filters">
            <div class="tribe-bar-filters-inner tribe-clearfix">
                <div class="tribe-bar-date-filter">
                    <div id="tribe-bar-dates"><label class="label-tribe-bar-date" for="tribe-bar-date">Events In</label><input type="text" name="tribe-bar-date" style="position: relative;" id="tribe-bar-date" value="" placeholder="Date"></div>
                    <input type="hidden" name="tribe-bar-date-day" id="tribe-bar-date-day" class="tribe-no-param" value="">				</div>
                <div class="tribe-bar-submit">
                    <input class="tribe-events-button tribe-no-param" type="submit" name="submit-bar" value="Find Events">
                </div>
                <!-- .tribe-bar-submit -->
            </div>
            <!-- .tribe-bar-filters-inner -->
        </div><!-- .tribe-bar-filters -->

    </form>
    <!-- #tribe-bar-form -->

    </div><!-- #tribe-events-bar -->
</div>