{# Legend for Map on the Homefinder #}

<div class="map-legend">
    <div class="legend-title close" id="legend-title">Map Legend</div>

    <form id="legend-items" class="close">
        <div class="squared-checkbox homes">
            <input type="checkbox" id="available-homes" name="available-homes" checked>
            <label for="available-homes"></label>
            <span>Available Homes</span>
        </div>

        <div class="squared-checkbox homesites">
            <input type="checkbox" id="amenities" name="amenities" checked>
            <label for="amenities"></label>
            <span>Amenities</span>
        </div>

    </form>
</div>