{# Legend for iMap that shows Area Attractions #}

<div class="map-legend imap">
    <div class="legend-title imap">Map Legend</div>
    
    <form id="legend-items">
        <div class="squared-checkbox sports-fitness">
            <input type="checkbox" id="community-amenity" name="community_amenity" checked>
            <label for="comunity-amenity"></label>
            <span>Community Amenities</span>
        </div>
        
        <div class="squared-checkbox commercial">
            <input type="checkbox" id="neighborhood" name="neighborhood" checked>
            <label for="neighborhood"></label>
            <span>Neighborhoods</span>
        </div>
        
        <div class="squared-checkbox schools">
            <input type="checkbox" id="park-lake" name="park_lake" checked>
            <label for="park-lake"></label>
            <span>Parks & Lakes</span>
        </div>
        
        <div class="squared-checkbox churches">
            <input type="checkbox" id="town" name="town" checked>
            <label for="town"></label>
            <span>Towns</span>
        </div>

        <div class="squared-checkbox parks-pools">
            <input type="checkbox" id="real-estate" name="real_estate" checked>
            <label for="real-estate"></label>
            <span>Real Estate</span>
        </div>
        
    </form>
</div>