{# Legend for Map on the Homefinder #}

<div class="map-legend">
    <div class="legend-title close" id="legend-title">Map Legend</div>

    <form id="legend-items" class="close">
        <div class="squared-checkbox homes">
            <input type="checkbox" id="available-homes" name="available-homes" checked>
            <label for="available-homes"></label>
            <span>Available Homes</span>
        </div>

        <div class="squared-checkbox homesites">
            <input type="checkbox" id="available-homesites" name="available-homesites" checked>
            <label for="available-homesites"></label>
            <span>Available Homesites</span>
        </div>

        <div class="squared-checkbox condos">
            <input type="checkbox" id="available-condos" name="available-condos" checked>
            <label for="available-condos"></label>
            <span>Available Condos/<br>Townhomes</span>
        </div>
    </form>
</div>