{# Legend for iMap that shows Area Attractions #}

<div class="map-legend imap">
    <div class="legend-title imap">Map Legend</div>
    
    <form id="legend-items">
        <div class="squared-checkbox sports-fitness">
            <input type="checkbox" id="sports-fitness" name="sports-fitness" checked>
            <label for="sports-fitness"></label> 
            <span>Sports &amp; Fitness</span>
        </div>
        
        <div class="squared-checkbox commercial">
            <input type="checkbox" id="commercial" name="commercial" checked>
            <label for="commercial"></label> 
            <span>Commercial</span>
        </div>
        
        <div class="squared-checkbox schools">
            <input type="checkbox" id="schools" name="schools" checked>
            <label for="schools"></label> 
            <span>Schools</span>
        </div>
        
        <div class="squared-checkbox churches">
            <input type="checkbox" id="churches" name="churches" checked>
            <label for="churches"></label> 
            <span>Churches</span>
        </div>
        
        <div class="squared-checkbox libraries">
            <input type="checkbox" id="libraries" name="libraries" checked>
            <label for="libraries"></label> 
            <span>Libraries</span>
        </div>
        
        <div class="squared-checkbox parks-pools">
            <input type="checkbox" id="parks-pools" name="parks-pools" checked>
            <label for="parks-pools"></label> 
            <span>Parks &amp; Pools</span>
        </div>
        
        <div class="squared-checkbox waterways">
            <input type="checkbox" id="waterways" name="waterways" checked>
            <label for="waterways"></label> 
            <span>Waterways</span>
        </div>
        
        <div class="squared-checkbox golf">
            <input type="checkbox" id="golf" name="golf" checked>
            <label for="golf"></label> 
            <span>Golf</span>
        </div>
        
    </form>
</div>