<div class="modal fade" id="modal-view-on-map" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="imap" style="height:100vh;width:100%"></div>
        </div>
    </div>
</div>