{% extends 'base.twig' %}
{% block template %}

    {% if page.thumbnail %}
        {% set headerImage = page.thumbnail %}
    {% else %}
        {% set headerImage = page.parent.thumbnail %}
    {% endif %}

    <section class="hero__page" style="background-image: url('{{ headerImage.src|resize(1500) }}')">
        <div class="hero__content-tab-{{ page.getHeroColor }}">
        <div class="hero__content-inner">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</section>

<section class="page-content--white-floral-top">
    <div class="container">
        {% if page.headline %}
        <div class="row extra-bottom">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                <h2>{{ page.getHeadline }}</h2>
            </div>
        </div>
        {% endif %}

        {% include "partials/page-single.twig" %}

        {% if page.content and page.getChildren %}
        <hr />
        {% endif %}

        {% if page.getChildren %}
            {% include "partials/page-show-layers.twig" %}
        {% endif %}

        {% if page.title == 'Location' %}
        <hr class="hidden-xs">
        <div class="row">
            <div class="col-xs-12 hidden-xs">
                <h4 id="area-map">Area Map</h4>
                <div class="map-overlay" onClick="style.pointerEvents='none'"></div>
                <iframe src="https://mapsengine.google.com/map/embed?mid=zuCLssp4p96c.ke8UttddS_8s"
                        width="100%" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-xs-12 visible-xs">
                <h4 id="area-map">Area Map</h4>
                <div class="map-overlay" onClick="style.pointerEvents='none'"></div>
                <iframe src="https://mapsengine.google.com/map/embed?mid=zuCLssp4p96c.ke8UttddS_8s"
                        width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        {% endif %}
    </div>

</section>

    {% if page.getQuicklinkBoxes %}
{% include "partials/link-widgets.twig" %}
    {% endif %}

{% include "partials/contact-foot.twig" %}

{% endblock %}