{% extends 'base.twig' %}
{% block template %}

    {% if active_item %}
        {% set activeItem = active_item %}
    {% else %}
        {% set activeItem = result.items[0] %}
    {% endif %}

    <div class="home-finder">

        {{ include('partials/home-finder/homefinder-filters.twig') }}

        <div class="home-finder-content">
            {# Toggle View Btn #}
            <div class="toggle-btn"{% if view == 'map' %} style="right:3.5%"{% endif %}>
                <span id="grid-view-toggle" class="toggle-view {% if view == 'grid' %} active {% endif %}"><a>Grid</a></span>
                <span id="map-view-toggle" class="toggle-view {% if view == 'map' %} active {% endif %}"><a>Map</a></span>
            </div>

        {# {% if view == 'map' %}
            {{ include('partials/home-finder/results-map-view.twig') }}
        {% else %}
            {{ include('partials/home-finder/results-grid-view.twig') }}
        {% endif %} #}

        {{ include('partials/home-finder/results-map-view.twig') }}

        </div>
    </div>

{% endblock %}