{% extends 'base.twig' %}
{% block template %}

<section class="hero__page" style="background-image: url({{ template_uri }}/img/bg-hero-location.jpg)">
    <div class="hero__content-tab-green">
        <div class="hero__content-inner">
            <h1>Location</h1>
        </div>
    </div>
</section>

<section class="page-content--white-floral-top">
    <div class="container">
        <div class="row extra-bottom">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                <h2>Short descriptor about the location of Carnes Crossroads. This will act as a headline for all of the sub categories.</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-7">
                <div class="slideshow__item" style="background-image: url({{ template_uri }}/img/page-ss-summerville.jpg)"></div>
            </div>
            <div class="col-xs-12 col-md-4 col-md-offset-1 text-left">
                <h4>Summerville &amp; Goosecreek</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-xs-12 col-md-4 text-right">
                <h4>Charleston Lowcountry</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a class="btn btn-green-small">Charleston Visitors Bureau</a>
            </div>
            <div class="col-xs-12 col-md-7 col-md-offset-1">
                <div class="slideshow__item" style="background-image: url({{ template_uri }}/img/page-ss-coast.jpg)"></div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-xs-12 col-md-7">
                <div class="slideshow__item" style="background-image: url({{ template_uri }}/img/page-ss-historic.jpg)"></div>
            </div>
            <div class="col-xs-12 col-md-4 col-md-offset-1 text-left">
                <h4>History</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-xs-12">
                <h4>Area Map</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d428037.1504337233!2d-80.38384837352693!3d33.05540747704467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fef55754bce12f%3A0xc2fd1920616bd466!2sCarnes+Crossroads+Real+Estate!5e0!3m2!1sen!2sus!4v1449802263517" width="100%" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

{% include "partials/link-widgets.twig" %}

{% include "partials/contact-foot.twig" %}

{% endblock %}